{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block main_contents %}
  <main>
    <div class="container signup_container">
      <section class="mb-4">
        <div class="row wow fadeIn">
          <div class='col-6 offset-3'>
            <h1>{% trans "Sign Up" %}</h1>
            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
                <div id="exTab1" class="tab-container">
                    <ul  class="nav nav-pills">
                        <li class="active">
                            <a  href="#customerSignup" data-toggle="tab">Customer</a>
                        </li>
                        <li>
                            <a href="#vendorSignup" data-toggle="tab">Vendor</a>
                        </li>
                    </ul>
                    <div class="tab-content clearfix">
                        <div class="tab-pane active" id="customerSignup">
                            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                              {% csrf_token %}
                              {{ form|crispy }}
                              {% if redirect_field_value %}
                              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                              {% endif %}
                              <button class='btn btn-primary' type="submit">{% trans "Sign Up" %} &raquo;</button>
                            </form>
                        </div>
                        <div class="tab-pane" id="vendorSignup">
                            <h3>tab 2 items</h3>
                        </div>
                    </div>
            </div>


                    <p>
                        <a href="#">By clicking register, I agree to your terms</a>
                    </p>

          </div>
        </div>
      </section>
    </div>
  </main>
    <script>
    $("#exTab1").click(function () {
        alert("show")
    })
    </script>
{% endblock %}
