{% extends 'grocery/base.html' %}
{% load static %}
{% block main_contents %}
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="index.html">Home</a>
						<i>|</i>
					</li>
					<li>Checkout</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->
	<!-- checkout page -->
	<div class="privacy">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">Checkout
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->
			<div class="checkout-right">
				<h4>Your shopping cart contains:
					<span>{{ object.items.all.count }} Products</span>
				</h4>
				<div class="table-responsive">
					<table class="timetable_sub">
						<thead>
							<tr>
								<th>SL No.</th>
								<th>Product</th>
								<th>Quality</th>
								<th>Product Name</th>

								<th>Item Price</th>
								<th>Total Price</th>
								<th>Remove</th>
							</tr>
						</thead>
						<tbody>
                        {% for order_item in object.items.all %}
							<tr class="rem1">
								<td class="invert">{{ forloop.counter }}</td>
								<td class="invert-image" style="width: 20%;">
									<a href="{{ order_item.item.get_absolute_url }}">
										<img src="{{ order_item.item.image.url }}" alt=" " class="img-responsive">
									</a>
								</td>
								<td class="invert">
									<div class="quantity">
										<div class="quantity-select">
                                            <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}">
											    <div class="entry value-minus">&nbsp;</div>
                                            </a>
											<div class="entry value">
												<span>{{ order_item.quantity }}</span>
											</div>
                                            <a href="{% url 'core:add-to-cart' order_item.item.slug %}">
											    <div class="entry value-plus active">&nbsp;</div>
                                            </a>
										</div>
									</div>
								</td>
								<td class="invert">{{order_item.item.title}}</td>
								<td class="invert">
                                    {% if order_item.item.discount_price%}
                                        ${{ order_item.item.discount_price }}
                                    {% else %}
                                        ${{ order_item.item.price }}
                                    {% endif %}
                                </td>
								<td class="invert">
                                    {% if order_item.item.discount_price %}
                                        ${{ order_item.get_total_discount_item_price }}
                                        <span class="badge badge-primary">Saving ${{ order_item.get_amount_saved }}</span>
                                    {% else %}
                                        ${{ order_item.get_total_item_price }}
                                    {% endif %}
                                </td>
								<td class="invert">
                                    <a style='color: red;' href="{% url 'core:remove-from-cart' order_item.item.slug %}">
                                        <div class="rem">
                                            <div class="close3"> </div>
                                        </div>
                                    </a>
								</td>
							</tr>
                            {% empty %}
                            <tr>
                                <td colspan='7'>Your cart is empty</td>
                            </tr>
                            <tr>
                                <td colspan="7">
                                <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
                                </td>
                            </tr>
                        {% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="checkout-left">
				<div class="address_form_agile">
					<h4>Add a new Details</h4>
					<form action="/checkout/" method="get" class="creditly-card-form agileinfo_form">
						<div class="creditly-wrapper wthree, w3_agileits_wrapper">
							<div class="information-wrapper">
								<div class="first-row">
									<div class="controls">
										<input class="billing-address-name" type="text" name="name" placeholder="Full Name" required="">
									</div>
									<div class="w3_agileits_card_number_grids">
										<div class="w3_agileits_card_number_grid_left">
											<div class="controls">
												<input type="text" placeholder="Mobile Number" name="number" required="">
											</div>
										</div>
										<div class="w3_agileits_card_number_grid_right">
											<div class="controls">
												<input type="text" placeholder="Landmark" name="landmark" required="">
											</div>
										</div>
										<div class="clear"> </div>
									</div>
									<div class="controls">
										<input type="text" placeholder="Town/City" name="city" required="">
									</div>
									<div class="controls">
										<select class="option-w3ls">
											<option>Select Address type</option>
											<option>Office</option>
											<option>Home</option>
											<option>Commercial</option>

										</select>
									</div>
								</div>
								<button class="submit check_out">Delivery to this Address</button>
							</div>
						</div>
					</form>
					<div class="checkout-right-basket">
						<a href="/checkout/">Make a Payment
							<span class="fa fa-hand-o-right" aria-hidden="true"></span>
						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //checkout page -->
{% endblock main_contents %}
{% block footer_js %}
	<!--quantity-->
	<script>
		$('.value-plus').on('click', function () {
			var divUpd = $(this).parent().find('.value'),
				newVal = parseInt(divUpd.text(), 10) + 1;
			divUpd.text(newVal);
		});

		$('.value-minus').on('click', function () {
			var divUpd = $(this).parent().find('.value'),
				newVal = parseInt(divUpd.text(), 10) - 1;
			if (newVal >= 1) divUpd.text(newVal);
		});
	</script>
	<!--quantity-->
	<script>
		$(document).ready(function (c) {
			$('.close1').on('click', function (c) {
				$('.rem1').fadeOut('slow', function (c) {
					$('.rem1').remove();
				});
			});
		});
	</script>
	<script>
		$(document).ready(function (c) {
			$('.close2').on('click', function (c) {
				$('.rem2').fadeOut('slow', function (c) {
					$('.rem2').remove();
				});
			});
		});
	</script>
	<script>
		$(document).ready(function (c) {
			$('.close3').on('click', function (c) {
				$('.rem3').fadeOut('slow', function (c) {
					$('.rem3').remove();
				});
			});
		});
	</script>
	<!--//quantity-->
{% endblock footer_js %}
