{% extends "grocery/base.html" %}
{% load static %}
{% block extra_head %}
    <script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
    <!-- flexslider -->
	<link rel="stylesheet" href="{% static 'grocery/css/flexslider.css' %}" type="text/css" media="screen" />
{% endblock extra_head%}
{% block main_contents %}
    	<!-- banner-2 -->
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="index.html">Home</a>
						<i>|</i>
					</li>
					<li>
                        <a>{{ object.get_category_display }}</a>
                        <i>|</i>
                    </li>
                    <li>
                        <a>{{ object.title }}</a>
                    </li>


				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->
	<!-- Single Page -->
	<div class="banner-bootom-w3-agileits">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">Single Page
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->
			<div class="col-md-5 single-right-left ">
				<div class="grid images_3_of_2">
					<div class="flexslider">
						<ul class="slides">
							<li data-thumb="{{ object.image.url }}">
								<div class="thumb-image">
									<img src="{{ object.image.url }}" data-imagezoom="true" class="img-responsive" alt=""> </div>
							</li>
							<li data-thumb="{% static 'grocery/images/si2.jpg' %}">
								<div class="thumb-image">
									<img src="{% static 'grocery/images/si2.jpg' %}" data-imagezoom="true" class="img-responsive" alt=""> </div>
							</li>
							<li data-thumb="{% static 'grocery/images/si3.jpg' %}">
								<div class="thumb-image">
									<img src="{% static 'grocery/images/si3.jpg' %}" data-imagezoom="true" class="img-responsive" alt=""> </div>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="col-md-7 single-right-left simpleCart_shelfItem">
				<h3>{{ object.title }}</h3>
				<div class="rating1">
					<span class="starRating">
						<input id="rating5" type="radio" name="rating" value="5" {% if object.ratting == 5.0 %} checked="" {% endif %}>
						<label for="rating5">5</label>
						<input id="rating4" type="radio" name="rating" value="4" {% if object.ratting == 4.0 %} checked="" {% endif %}>
						<label for="rating4">4</label>
						<input id="rating3" type="radio" name="rating" value="3" {% if object.ratting == 3.0 %} checked="" {% endif %}>
						<label for="rating3">3</label>
						<input id="rating2" type="radio" name="rating" value="2" {% if object.ratting == 2.0 %} checked="" {% endif %}>
						<label for="rating2">2</label>
						<input id="rating1" type="radio" name="rating" value="1" {% if object.ratting == 1.0 %} checked="" {% endif %}>
						<label for="rating1">1</label>
					</span>
				</div>
				<p>
                    {% if item.discount_price %}

                                    <span class="item_price">${{ item.discount_price }}</span>
                                    <del>{{ item.price }}</del>
                                {% else %}
                                    {{ item.price }}
                                {% endif %}
{#					<span class="item_price">$950.00</span>#}
{#					<del>$1300.00</del>#}
{#					<label>Free delivery</label>#}
				</p>
				<div class="single-infoagile">
					<ul>
						<li>
							Cash on Delivery Eligible.
						</li>
						<li>
							Shipping Speed to Delivery.
						</li>
						<li>
							Sold and fulfilled by Supple Tek (3.6 out of 5 | 8 ratings).
						</li>
						<li>
							1 offer from
							<span class="item_price">{% if item.discount_price %}

                                    <span class="item_price">${{ item.discount_price }}</span>

                                {% else %}
                                    {{ item.price }}
                                {% endif %}</span>
						</li>
					</ul>
				</div>
				<div class="product-single-w3l">
					<p>
						<i class="fa fa-hand-o-right" aria-hidden="true"></i>This is a
						<label>{{ object.get_category_display }}</label> product.</p>
					<ul>
						<li>
							{{ object.description }}
						</li>
{#						<li>#}
{#							After cooking, Zeeba Basmati rice grains attain an extra ordinary length of upto 2.4 cm/~1 inch.#}
{#						</li>#}
{#						<li>#}
{#							Zeeba Basmati rice adheres to the highest food afety standards as your health is paramount to us.#}
{#						</li>#}
{#						<li>#}
{#							Contains only the best and purest grade of basmati rice grain of Export quality.#}
{#						</li>#}
					</ul>
{#					<p>#}
{#						<i class="fa fa-refresh" aria-hidden="true"></i>All food products are#}
{#						<label>non-returnable.</label>#}
{#					</p>#}
				</div>
                {% comment %} <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary" type="submit">
                Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form> {% endcomment %}
            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger">
              Remove from cart
            </a>
{#				<div class="occasion-cart">#}
{#					<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">#}
{#						<form action="#" method="post">#}
{#							<fieldset>#}
{#								<input type="hidden" name="cmd" value="_cart" />#}
{#								<input type="hidden" name="add" value="1" />#}
{#								<input type="hidden" name="business" value=" " />#}
{#								<input type="hidden" name="item_name" value="Zeeba Premium Basmati Rice - 5 KG" />#}
{#								<input type="hidden" name="amount" value="950.00" />#}
{#								<input type="hidden" name="discount_amount" value="1.00" />#}
{#								<input type="hidden" name="currency_code" value="USD" />#}
{#								<input type="hidden" name="return" value=" " />#}
{#								<input type="hidden" name="cancel_return" value=" " />#}
{#								<input type="submit" name="submit" value="Add to cart" class="button" />#}
{#							</fieldset>#}
{#						</form>#}
{#					</div>#}
{##}
{#				</div>#}

			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //Single Page -->
	<!-- special offers -->
	{% include 'grocery/featured-section.html' %}
	<!-- //special offers -->

{% endblock main_contents %}
{% block footer_js %}
<!-- imagezoom -->
	<script src="{% static 'grocery/js/imagezoom.js' %}"></script>
	<!-- //imagezoom -->

	<!-- FlexSlider -->
	<script src="{% static 'grocery/js/jquery.flexslider.js' %}"></script>
	<script>
		// Can also be used with $(document).ready()
		$(window).load(function () {
			$('.flexslider').flexslider({
				animation: "slide",
				controlNav: "thumbnails"
			});
		});
	</script>
	<!-- //FlexSlider-->

	<!-- flexisel (for special offers) -->
	<script src="{% static 'grocery/js/jquery.flexisel.js' %}"></script>
	<script>
		$(window).load(function () {
			$("#flexiselDemo1").flexisel({
				visibleItems: 3,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: {
					portrait: {
						changePoint: 480,
						visibleItems: 1
					},
					landscape: {
						changePoint: 640,
						visibleItems: 2
					},
					tablet: {
						changePoint: 768,
						visibleItems: 2
					}
				}
			});

		});
	</script>
	<!-- //flexisel (for special offers) -->

{% endblock footer_js %}